.edu-exp-card{
    display: flex;
    flex-direction: column;
    background-color: #0500a0;
    padding: 15px 35px;
    min-width: 400px;
    gap: 10px;

    p{
        font-size: 0.825rem;
    }

    h5{
        
    }
}