$edu-exp-card-bg: #0500a0;

.edu-exp-card{
    display: flex;
    flex-direction: column;
    background-color: $edu-exp-card-bg;
    padding: 15px 35px;
    min-width: 350px;
    gap: 10px;

    @media (max-width: 1024px) {
        min-width: auto;
    }

    p{
        font-size: 0.825rem;
    }
}