header, .logo-and-name {
    display: flex;
}

header{
    justify-content:space-between;
    align-items: center;

    img{
        width: 150px;
    }
}

.logo-and-name{
    align-items: center;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding-inline-start: 0px;
    margin-right: 25px;
}
