.project-list{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;

    li{
        justify-self: center;
        align-self: center;
    }

    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        justify-content: center;
        align-self: center;
    }
}