body{
    
    background-image: url(background-body.webp);
    background-repeat: no-repeat;
    background-color: #030059;
}

main{
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}