.skills-list, .skill{
    display: flex;
}

.skills-list{
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    row-gap: 150px;
    width: 100%;

    .skill{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        min-width: 100px;
        height: 150px;
        font-size: 1rem;
        padding: 10px 40px;
    }

    img{
        width: 50px;
    }

}