    .presentation, .description, .descriptions-buttons, .description-button{
        display: flex;
    }

    .presentation ,.description-button{
        align-items: center;
    }
    
    
    .presentation{
        width: 100%;
        justify-content: space-around;

        @media (max-width: 768px) {
            width: 100%;
            flex-direction: column;
            gap: 25px;
        }
    }

    .portrait{
        border-radius: 20px;
        width: 35%;
        height: 500px;
        background-image: url(/Projet_12/Thibault1.webp);
        background-size: cover;
        background-position: center;

        @media (max-width: 1024px) {
            height: 400px;
        }

        @media (max-width: 768px) {
            width: 300px;
        }
    }

    .description{
        flex-direction: column;
        gap: 25px;
        text-align: center;
        font-size: 1.5rem;
        width: 50%;

        @media (max-width: 1024px) {
            font-size: 1rem;
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    .descriptions-buttons{
        gap: 25px;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }

        .description-button{
            justify-content: center;
            font-size: 1.2rem;
            width: 33%;
            padding: 0px 25px;
            font-weight: 600;

            @media (max-width: 1024px) {
                font-size: 0.8rem;
                height: 60px;
            }
        }
    }